* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px 5px;
  font-family: sans-serif;
}

/* Utility Class */
.orange {
  color: orange;
}
.gray {
  color: gray;
}

.header {
  padding: 1em 3em;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px auto;
}
.font-2xl {
  font-size: 1.6em;
  letter-spacing: 2px;
}

.flex {
  display: flex;
}

.nav-links ul,
.logo {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.nav-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 130px;
  height: 60px;
  padding: 1.3em;
  border: 1px solid rgb(0, 0, 0);
}
.nav-button :link {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 900;
}

.hero-section {
  /* background-color: #27e7cd; */
  display: flex;
  height: 80%;
  justify-content: space-between;
  padding: 3em;
}
.hero-section-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

/* To be Updated  */
.hero-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #db4242; */
  position: relative;
  box-sizing: border-box;
  width: 60%;
}

.hero-section-right img {
  position: absolute;
  bottom: 1px;
  left: 30px;
  height: 350px;
}

.man-image {
  position: absolute;
  right: 90px;
}

.circle-image,
.curve-image,
.arrow-image,
.green-arrow-image {
  width: 50px;
  height: 50px;
}

.pattern-image {
  z-index: 70;
}

/* To be Updated  */

.button-div {
  display: flex;
  gap: 2em;
}

.button-orange {
  display: flex;
  align-items: center;
  text-align: center;
  width: 130px;
  height: 60px;
  padding: 1.3em;
  background-color: orangered;
}

.button-orange :link {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 900;
}

/* fOOTER  */
.footer-container {
  padding: 4em;
  display: flex;
  color: white;
  width: 100%;
  background-color: rgb(48, 48, 112);
}
.footer-container p {
  color: #b6afaf;
  font-weight: 500;
}

.footer-right {
  display: flex;
  justify-content: space-around;
  gap: 3em;
  width: 60%;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}
.footer-right-items {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 1em;
}

.f-r-i-1 span {
  background-color: #27e7cd;
}
.f-r-i-2 span {
  background-color: orangered;
}
.f-r-i-3 span {
  background-color: blue;
}
